.Rproj.user
.Rhistory
.RData
.Ruserdata
src/*.o
src/*.so
src/*.dll
.Rhistory
.vscode
inst/doc
dev/1-s2.0-S0014292116300630-mmc1
dev/armadillo-codes
dev/*.rds
dev/fixest*
dev/reghdfe
dev/FEN*
dev/ppmlhdfe
dev/pyfixest
dev/article
dev/alpaca
README.html
pkgdown
src/Makevars
dev/timing.txt
